/* 宽度大于 576px 的屏幕使用该样式*/
@media screen and (min-width: 576px) {
    .container {
        max-width: 570px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 760px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 990px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}


/* 宽度小于 990px 的屏幕使用该样式*/
@media screen and (max-width: 990px) {
    .left-aside {
        width: 100% !important;

    }

    .right-aside {
        display: none;
    }
}